body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor__todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor__register {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario__register {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.formulario__register h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario__register input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario__register button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario__register button:hover {
    background-color: #0056b3;
}
